nav {
  text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #05677a;
    color: #031c21;
    padding: 1rem;
}

header {
    background-color: #17bdb4;
    color: #1bab6f;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    float: left;
    margin: 0, 20px;
    padding: 0;
}

nav ul li a{
  background: white;
  font-weight: bold;
  color: #32e399;
  text-align: center;
  position: realtive;
  font-size: 25px;
  float: left;
  padding: 0.5rem 1rem;
  
 
}

main {
    width: 90%;
    max-width: 800px;
    margin: 2rem auto;
    background-color: #8ee0f5;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0;
}

h1 {
  
    font-size: 3rem;
    color: #020a26;
}

h2 {
  
    font-size: 2rem;
    color: #020a26;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

nav ul li a:hover {
  background-color: #d6d32b;
  color: #e35417;
  text-transform: uppercase;
   
   
  
}
